{% extends "base.html" %}
{% block title %}Chat{% endblock %}

{% block content %}
<div class="chat-container">
    <div id="chat-box" class="chat-box">
        {% for note in user.notes %}
        <div class="message user-message">
            <p>{{ note.data }}</p>
        </div>
        <div class="message bot-message">
            <p>{{ note.resposta }}</p>
        </div>
        {% endfor %}

    </div>
</div>
<form method="POST" class="message-form">
    <textarea name="note" id="note" class="form-control" placeholder="Digite sua mensagem..."></textarea>
    <button type="submit" class="btn-send">Enviar</button>
</form>
{% endblock %}
