{% extends "base.html" %}
{% block title %}Chat{% endblock %}

{% block content %}

<nav class="sidebar" id="sidebar">
    <header>
        <form method="GET" action="{{ url_for('views.home') }}">
            <button name="nova-conversa" class="btn-new-conversation">+ Nova Conversa</button>
        </form>
        <i class='bx bx-menu toggle'></i>
    </header>
    <ul class="conversation-list">
        {% for c in user_conversas %}
            <li class="conversation-item {% if c.id == conversa.id %}active{% endif %}">
                <a href="/home?conversa_id={{ c.id }}">{{ c.id }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>

<div class="container">
    <div class="chat-container">
        <div id="chat-box" class="chat-box">
            {% if conversa and conversa.messages %}
                {% for message in conversa.messages %}
                    {% if message.role != 'system' %}
                        <div class="message {% if message.role == 'user' %}user-message{% elif message.role == 'assistant' %}bot-message{% endif %}">
                            <p>{{ message.content }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <h3>Nova Conversa</h3>
            {% endif %}
        </div>
    </div>
</div>
<script>
    function toggleSidebar() {
        const sidebar = document.getElementById('sidebar');
        sidebar.classList.toggle('hidden');
    }
</script>
<form method="POST" class="message-form">
    <textarea name="note" id="note" class="form-control" placeholder="Digite sua mensagem..."></textarea>
    <button type="submit" class="btn-send">Enviar</button>
</form>
{% endblock %}
